{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": "warn",
    "arrow-parens": "off",
    "no-restricted-syntax": 0
  }
}
